/* .azul button {
  background-color: blue;
}

.azul input {
  border: 1px solid blue
}

.azul p {
  color: blue
}

.azul p:hover {
  color: lightblue
}


.rojo button {
  background-color: red;
}

.rojo input {
  border: 1px solid red
}

.rojo p {
  color: red
}

.rojo p:hover {
  color: pink
}

.rojo .nav .button-nav {
  color: red;
}

.azul .nav .button-nav {
  color: blue;
} */

/* 
p {
  text-shadow: 4px 4px 4px 4px red;
} */
